$manager__main-color: #e38b92;
$manager__guest-color: hsla(155, 50%, 75%, 0.523);
$manager__bookings-color: #934f50;
$bodySizeSmall: 1.5em;
$screen-xs-min: 425px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1350px;