@import '_variables';

%backgroundImgStyle {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
span {
  margin-left: 8px;
}

.splash__container {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ), url("../images/big-leaf-bright-color-1029640.jpg");
  @extend %backgroundImgStyle;
  flex-direction: column;
    .splash__header {
      background-color: rgba(238, 238, 238, 0.47);
      border-radius: 6px;
      font-size: 3.8em;
      font-weight: 400;
      text-align: center;
    }
    .splash__span {
      font-style: italic;
      font-weight: 700;
    }
}

.login__forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
    form input {
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
      font-size: .8em;
      height: 30px;
      outline: 0;
      padding-left: 2%;
      width: 75%;
        &:invalid {
          border-color: red;
        }
    }
    .login--btn {
      width: auto;
    }
}

#login__form {
  align-items: center;
  background-color:  #eeeeee91;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: $bodySizeSmall;
  margin: 0% 3% 2% 3%;
  padding: 0% 2% 1% 4%;
  width: 23%;
}

.hidden {
  display: none;
}

.requirements {
  color: red;
  font-style: italic;
}

header {
  height: 50%;
  width: 100%;
  background-color: grey;
  h1 {
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    .header__span {
      font-style: italic;
      font-weight: 700;
    }
  }
}

nav {
  background-color: grey;
}

.header__guest-name,
.header__users-name {
  bottom: 90%;
  font-size: $bodySizeSmall;
  left: 63%;
  position: absolute;
}

button {
  border-radius: 8px;
  font-size: 1em;
  height: 30px;
  margin: 10px;
  width: 13%;
    &:hover {
      font-weight: 900;
      cursor: pointer;
      transform: scale(1.1);
      transition: all .1s ease-in-out;
    }
}

.logout__btn {
  float: right;
}
  
.main__btn:hover,
.main__btn-clicked, 
.newRes__btn:hover,
.newRes__btn-clicked {
  background: $manager__main-color;
}

.article__main {
  border: 8px solid $manager__main-color;
  display: flex;
  flex-direction: column;
}

.article__guest-newReservations {
  border: 8px solid $manager__main-color;
}

.guest__btn:hover,
.resHistory__btn:hover,
.resHistory__btn-clicked,
.guest__btn-clicked {
  background-color: $manager__guest-color;
}

.article__guest,
.article__guest-resHistory {
  border: 8px solid $manager__guest-color;
}

.bookings__btn:hover,
.roomsTotal__btn:hover,
.roomsTotal__btn-clicked,
.bookings__btn-clicked {
  background-color: $manager__bookings-color
}

.article__bookings,
.article__guest-roomsTotal {
  border: 8px solid $manager__bookings-color;
}

#blockColorblindContent {
  display: none;
}

.section__guest-newReservations,
.section__guest-resHistory,
.section__guest-roomsTotal {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ), url("../images/calm-clouds-exotic-297984.jpg");
  @extend %backgroundImgStyle;
}

.section__main,
.section__guest,
.section__bookings {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ), url("../images/beach-deck-dock-247447.jpg");
  @extend %backgroundImgStyle;
}

article {
  background-color: rgba(238, 238, 238, .7);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-size: $bodySizeSmall;
  padding: 3%;
  position: absolute;
  top: 25%;
  width: 85%;
}

.article__input-container {
  border: 1px solid black;
  display: inline-block;
  margin-left: 20px;
  padding: 16px;
  width: 40%;
}

.article__input {
  font-size: .7em;
  height: 40px;
  width: 85%;
}

.add__guest--btn, 
.add__booking--btn,
.delete__booking--btn,
.search__guest--btn,
.search__date--btn,
.filter__date--btn,
.book__room--btn {
  border-radius: 5px;
  height: 30px;
  width: 60%;
    &:hover {
      font-weight: 900;
      background-color: darkgray;
    }
}
